<div class="jumbotron text-center" ng-controller="MainController as login" ng-if="!main.loggedIn">
    <div>
        <h1 style="font-family: 'Delius Unicase', cursive; font-weight:bold "> Welcome </h1>
    </div>
    <div>
        <img class="img-responsive" style="max-width:25%;margin: 0 auto;" src="app/views/images/flight.png"/> <br
        <h2> Learn about weather conditions and determine if your flight will be delayed </h2> <br>
        <a href="/login" class="btn btn-primary"> Start </a>
    </div>
</div>


<div class="row" ng-if="main.loggedIn">
    <div class="col-md-4">
    </div>


        <div class ="col-md-4" ng-controller="StoryController as story">
            <div class="row">
                <div class ="panel panel-primary">
                    <div class="panel-heading">
                        TakeOff
                    </div>

                </div>

            </div>


        </div>




    <div class="col-md-4">
    </div>


</div>